@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    src: local('NotoSans'),
        url('NotoSans-Thin.woff2') format('woff2'), 
        url('NotoSans-Thin.woff') format('woff'),
        url('NotoSans-Thin.ttf') format('truetype'),
        url('NotoSans-Thin.otf') format('opentype'),
        url('NotoSans-Thin.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 300;
    src: local('NotoSans'),
        url('NotoSans-DemiLight.woff2') format('woff2'), 
        url('NotoSans-DemiLight.woff') format('woff'),
        url('NotoSans-DemiLight.ttf') format('truetype'),
        url('NotoSans-DemiLight.otf') format('opentype'),
        url('NotoSans-DemiLight.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSans'),
        url('NotoSans-Regular.woff2') format('woff2'), 
        url('NotoSans-Regular.woff') format('woff'),
        url('NotoSans-Regular.ttf') format('truetype'),
        url('NotoSans-Regular.otf') format('opentype'),
        url('NotoSans-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: local('NotoSans'),
        url('NotoSans-Bold.woff2') format('woff2'), 
        url('NotoSans-Bold.woff') format('woff'),
        url('NotoSans-Bold.ttf') format('truetype'),
        url('NotoSans-Bold.otf') format('opentype'),
        url('NotoSans-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 900;
    src: local('NotoSans'),
        url('NotoSans-Black.woff2') format('woff2'), 
        url('NotoSans-Black.woff') format('woff'),
        url('NotoSans-Black.ttf') format('truetype'),
        url('NotoSans-Black.otf') format('opentype'),
        url('NotoSans-Black.eot') format('embedded-opentype');
}

/*폰트폴더 안에 사용할 서체 복사붙여넣기
폰트css에(여기) 사용할 서체 내용 입력해서 연결하기
스타일css에 폰트패밀리 적용하기

다른 CDN을 이용하는 것 보다 속도가 빠르고 안전합니다.

영문체는 한글이 안써지는 경우 많음..

다운로드 받은 아이들은 서버 용량을 좀 먹고..

cdn은 

*/

